body {
   padding: 20px;
   margin: 10px;
   background: transparent;
  align-items: center;
 font-family: 'Courier New', Courier, monospace;
}

/* #sortDeskName, #sortAskName {
   display: none;
} */

 table > thead > tr >td  {
   width: 150px;
} 
#sortAskPost,#sortDeskPost{
margin: 10px;
  background-color: yellow;
  color: aqua;

}
#sortAskName, #sortDeskName{
   margin: 10px;
background-color: yellow;
color: aqua;
}
